# Step 1: Overview And Dataset Selection

About Dataset

Context

Abstract:

Concrete is the most important material in civil engineering.

The concrete compressive strength is a highly nonlinear function of age and ingredients.

Content

Concrete Compressive Strength Data Set

Data Set Information:

Number of instances 1030

Number of Attributes 9

Attribute breakdown 8 quantitative input variables, and 1 quantitative output variable

Missing Attribute Values None

Attribute Information:

Given are the variable name,

variable type, the measurement unit and a brief description.

The concrete compressive strength is the regression problem.

The order of this listing corresponds to the order of numerals along the rows of the database.

Name -- Data Type -- Measurement -- Description

Cement (component 1) -- quantitative -- kg in a m3 mixture -- Input Variable

Blast Furnace Slag (component 2) -- quantitative -- kg in a m3 mixture -- Input Variable

Fly Ash (component 3) -- quantitative -- kg in a m3 mixture -- Input Variable

Water (component 4) -- quantitative -- kg in a m3 mixture -- Input Variable

Superplasticizer (component 5) -- quantitative -- kg in a m3 mixture -- Input Variable

Coarse Aggregate (component 6) -- quantitative -- kg in a m3 mixture -- Input Variable

Fine Aggregate (component 7) -- quantitative -- kg in a m3 mixture -- Input Variable

Age -- quantitative -- Day (1~365) -- Input Variable

Concrete compressive strength -- quantitative -- MPa -- Output Variable

Acknowledgements

Source:

Original Owner and Donor

Prof. I-Cheng Yeh

Department of Information Management

Chung-Hua University,

Hsin Chu, Taiwan 30067, R.O.C.

e-mail:icyeh '@' chu.edu.tw

TEL:886-3-5186511

Date Donated: August 3, 2007

From: https://archive.ics.uci.edu/ml/datasets/Concrete+Compressive+Strength

Relevant Papers:

Main
1) I-Cheng Yeh, "Modeling of strength of high performance concrete using artificial neural networks," Cement and Concrete Research, Vol. 28, No. 12, pp. 1797-1808 (1998).

Others

2) I-Cheng Yeh, "Modeling Concrete Strength with Augment-Neuron Networks," J. of Materials in Civil Engineering, ASCE, Vol. 10, No. 4, pp. 263-268 (1998).

3) I-Cheng Yeh, "Design of High Performance Concrete Mixture Using Neural Networks," J. of Computing in Civil Engineering, ASCE, Vol. 13, No. 1, pp. 36-42 (1999).

4) I-Cheng Yeh, "Prediction of Strength of Fly Ash and Slag Concrete By The Use of Artificial Neural Networks," Journal of the Chinese Institute of Civil and Hydraulic Engineering, Vol. 15, No. 4, pp. 659-663 (2003).

5) I-Cheng Yeh, "A mix Proportioning Methodology for Fly Ash and Slag Concrete Using Artificial Neural Networks," Chung Hua Journal of Science and Engineering, Vol. 1, No. 1, pp. 77-84 (2003).

6) Yeh, I-Cheng, "Analysis of strength of concrete using design of experiments and neural networks," Journal of Materials in Civil Engineering, ASCE, Vol.18, No.4, pp.597-604 (2006).

Citation Request:
NOTE: Reuse of this database is unlimited with retention of copyright notice for Prof. I-Cheng Yeh and the following published paper:

I-Cheng Yeh, "Modeling of strength of high performance concrete using artificial neural networks," Cement and Concrete Research, Vol. 28, No. 12, pp. 1797-1808 (1998).

Inspiration
Can you predict the strength of concrete?

# Step 2: Import Libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.metrics import mean_squared_error, mean_absolute_error,  r2_score

# Step 3: Load the Dataset

In [9]:
df = pd.read_csv('./data/concrete_dataset/concrete_strength.csv')

In [10]:
df.head()

   cement   slag  flyash  water  ...  coarseaggregate  fineaggregate  age  csMPa
0   540.0    0.0     0.0  162.0  ...           1040.0          676.0   28  79.99
1   540.0    0.0     0.0  162.0  ...           1055.0          676.0   28  61.89
2   332.5  142.5     0.0  228.0  ...            932.0          594.0  270  40.27
3   332.5  142.5     0.0  228.0  ...            932.0          594.0  365  41.05
4   198.6  132.4     0.0  192.0  ...            978.4          825.5  360  44.30

[5 rows x 9 columns]

In [11]:
df.tail()

      cement   slag  flyash  water  ...  coarseaggregate  fineaggregate  age  csMPa
1025   276.4  116.0    90.3  179.6  ...            870.1          768.3   28  44.28
1026   322.2    0.0   115.6  196.0  ...            817.9          813.4   28  31.18
1027   148.5  139.4   108.6  192.7  ...            892.4          780.0   28  23.70
1028   159.1  186.7     0.0  175.6  ...            989.6          788.9   28  32.77
1029   260.9  100.5    78.3  200.6  ...            864.5          761.5   28  32.40

[5 rows x 9 columns]

# Step 4: Exploratory Data Analysis

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   cement            1030 non-null   float64
 1   slag              1030 non-null   float64
 2   flyash            1030 non-null   float64
 3   water             1030 non-null   float64
 4   superplasticizer  1030 non-null   float64
 5   coarseaggregate   1030 non-null   float64
 6   fineaggregate     1030 non-null   float64
 7   age               1030 non-null   int64
 8   csMPa             1030 non-null   float64
dtypes: float64(8), int64(1)
memory usage: 72.6 KB

In [13]:
df.describe()

            cement         slag  ...          age        csMPa
count  1030.000000  1030.000000  ...  1030.000000  1030.000000
mean    281.167864    73.895825  ...    45.662136    35.817961
std     104.506364    86.279342  ...    63.169912    16.705742
min     102.000000     0.000000  ...     1.000000     2.330000
25%     192.375000     0.000000  ...     7.000000    23.710000
50%     272.900000    22.000000  ...    28.000000    34.445000
75%     350.000000   142.950000  ...    56.000000    46.135000
max     540.000000   359.400000  ...   365.000000    82.600000

[8 rows x 9 columns]

In [14]:
df.shape

(1030, 9)

In [15]:
df.size

9270

In [16]:
df.columns

Index(['cement', 'slag', 'flyash', 'water', 'superplasticizer',
       'coarseaggregate', 'fineaggregate', 'age', 'csMPa'],
      dtype='object')

In [17]:
df.isnull().sum()

cement              0
slag                0
flyash              0
water               0
superplasticizer    0
coarseaggregate     0
fineaggregate       0
age                 0
csMPa               0
dtype: int64

In [18]:
df[df.isnull().any(axis = 1)]

Empty DataFrame
Columns: [cement, slag, flyash, water, superplasticizer, coarseaggregate, fineaggregate, age, csMPa]
Index: []